

#historical-record {
  display: grid;
  width: 80%;
  height: auto;
  aspect-ratio: 1 / 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);  
}

#historical-record > span {
  outline: 1px solid grey;
}