#game-history-section {
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  overflow-y: scroll;
  max-height: 50vmin;
}

#historical-record {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);  
}

#historical-record > span {
  outline: 1px solid grey;
}